
<div class="block" id="block-text">
	<div class="secondary-navigation">
		<ul class="wat-cf">
			<li><%= link_to 'Todos', musicas_path %></li>
		</ul>
	</div>
	<div class="content">
		<h2 class="title">
			  <%=h @musica.titulo %>
		</h2>
		<div class="inner">
		</div>
	</div>
</div>