<h1>Mail recibido en el sitio Web:</h1>
<p>
  <b>Nombre:</b>
  <%= @contacto.nombre %>
</p>

<p>
  <b>Email:</b>
  <%= @contacto.correo %>
</p>

<p>
  <b>Teléfono:</b>
  <%=h @contacto.tel %>
</p>

<p>
  <b>Mensaje:</b>
  <%=h @contacto.mensaje %>
</p>