
<div class="block" id="block-text">
	<div class="secondary-navigation">
		<ul class="wat-cf">
			<li><%= link_to 'Todos', galerias_path %></li>
			<li class="active"><%= link_to 'Nueva Imagen', "#" %></li>
		</ul>
	</div>
	<div class="content">
		<h2 class="title">
			Nueva Imagen
		</h2>
		<div class="inner">
			<%= render :partial => 'form' %>
		</div>
	</div>
</div>