<script>	
		 $(document).ready(function(){
			$('#home').css({"visibility":"hidden"});
			$('#abo').css({"visibility":"hidden"});
			$('#eve').css({"visibility":"visible"});
			$('#gal').css({"visibility":"hidden"});
			$('#cont').css({"visibility":"hidden"});
			$('#pho').css({"visibility":"hidden"});
			$('#3 span').css({"color":"black","font-family":"schoolbook "});
			
			});

</script>

<div id="contentEvent">
		<div id="contenedorListaEventos"> 
			<div id="makeMeScrollable">
					<div class="scrollingHotSpotLeft"></div>
					<div class="scrollingHotSpotRight"></div>
					<div class="scrollWrapper">
						<div class="scrollableArea">
	<% for eventos in @eventos %>
	
			
			<%= link_to (image_tag eventos.feventos.url(:thumb)), eventos.feventos.url(:medium), :class =>"cuadroEvento" , :title => eventos.descripcion.downcase , :rel =>"prettyPhoto[fotosEventos]" %>
			
     
	<% end %>
			</div>
		</div>
	</div>
</div>
</div>

