<script>	
		 $(document).ready(function(){
			$('#home').css({"visibility":"visible"});
			$('#abo').css({"visibility":"hidden"});
			$('#eve').css({"visibility":"hidden"});
			$('#gal').css({"visibility":"hidden"});
			$('#cont').css({"visibility":"hidden"});
			$('#pho').css({"visibility":"hidden"});
			$('#1 span').css({"color":"black","font-family":"schoolbook"});
			
			});

</script>

<div id="contentHome">

</div>
