<script>	
		 $(document).ready(function(){
			$('#home').css({"visibility":"visible"});
			$('#abo').css({"visibility":"hidden"});
			$('#eve').css({"visibility":"hidden"});
			$('#gal').css({"visibility":"hidden"});
			$('#cont').css({"visibility":"hidden"});
			$('#1 span').css({"color":"black","font-family":"schoolbook N"});
			$('#2 span').css({"color":"white","font-family":"schoolbook N"});
			$('#3 span').css({"color":"white","font-family":"schoolbook N"});
			$('#4 span').css({"color":"white","font-family":"schoolbook N"});
			$('#5 span').css({"color":"white","font-family":"schoolbook N"});
			
			});

</script>

<div id="contentHome">

</div>
